{{yield}}

<ul>
  <li>
    Picture URL: {{input type="text" id="new-pic" value=imageUrl}}
    <br><br>
    Name: {{input type="text" id="new-name" value=name}}
    <br><br>
    Caption: {{input type="text" id="new-caption" value=caption}}
  </li>
</ul>

<br><br><br><br>


{{#link-to 'posts' class="button"}}<button>Back</button>{{/link-to}}

<button {{action "newPost"}}>Submit</button>
