{{yield}}

<form id="NewPost">
  <p>
    Picture URL: {{input type="text" value=imageUrl}}
  </p>

  <p>
    Name: {{input type="text" value=name}}
  </p>

  <p>
    Caption: {{input type="text" value=caption}}
  </p>

  {{#link-to 'posts' class="button"}}<button>Back</button>{{/link-to}}

  <button {{action "newPost" imageUrl name caption}}>Submit</button>
</form>
