<!-- I am a single post! -->

<div class="text-center post-top-margin">
  <div>
    <img src={{model.imageUrl}} class="post-image">
  </div>
  <div>
    Title: <strong>{{model.fileName}}</strong>
  </div>
  <div>
    Caption: <strong>{{model.caption}}</strong>
  </div>


  {{#link-to 'posts' class="btn btn-info"}}
    Back
  {{/link-to}}

  {{#link-to 'posts.edit' model.id class="btn btn-warning"}}
    Edit
  {{/link-to}}

  <div class="btn btn-orange">
    {{delete-post model=model deletePost="deletePost"}}
  </div>

<br><br>
  <div>
    {{#each model.comments as |comment|}}
    <div>
      <strong>{{comment.user.firstName}}:</strong>
        <p>{{comment.body}}</p>
    </div>
    {{/each}}
  </div>

<br><br><br><br>
  <form>
    <div>
      <label>Leave a Comment:</label>
      <br>
      <!-- {{textarea rows="4" value=model.comments.body}} -->
      {{textarea rows="4" value=body}}
    </div>

    <div>
      <button {{action 'createNewComment' body}}>Save</button>
      <button {{action 'cancelComment'}}>Cancel</button>
    </div>
  </form>
</div>
