
<div class="col-sm-12 col-md-12 post-top-margin">
  <div class="container">
    <div class="col-sm-7 margin-top-20">
      <div class="edit-image-wrapper">
        <div>
          {{#if model.file }}
            <img src= {{model.file}} class="edit-page-image"> {{else if model.imageUrl }}
            <img src= {{model.imageUrl}} class="edit-page-image">
          {{/if}}
        </div>
        <div class="title-div">
          Title: <strong>{{model.fileName}}</strong>
        </div>
        <div>
          Caption: <strong>{{model.caption}}</strong>
        </div>
      </div>

      {{#link-to 'posts' class="btn btn-grey" }}
        Back
      {{/link-to}}

      {{#link-to 'posts.edit' model.id class="btn btn-grey" }}
        Edit
      {{/link-to}}

      <div class="btn btn-grey">
        {{delete-post model=model deletePost="deletePost"}}
      </div>
    </div>

    <div class="col-sm-5 comments-edie-div margin-top-20">
      <div class="scrolling-comments">
        {{#each model.comments as |comment|}}
          <div>
            <strong>{{comment.user.firstName}}</strong>
            <p class="inner-content">
              {{comment.body}}
              <small>{{comment.createdAt}}</small>
            </p>
          </div>
        {{/each}}
      </div>

      <br>
      <form>
        <div class="leave-comment-box">
          <label>Leave a Comment:</label>
          <br> {{textarea rows="4" value=body class="form-control"}}
        </div>

        <div>
          <button {{action 'createNewComment' body}} class="btn btn-grey">Save</button>
          <button {{action 'cancelComment' body}} class="btn btn-grey">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
